
<div class="container">
  <div class="row">
    <div class="col">

      <div  >

        {{indice+1}}: {{empleadoLista.nombre}} {{empleadoLista.apellido}} {{empleadoLista.cargo}}
        {{empleadoLista.salario}}
        <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'1'}">
          Actuliza
     </a>
     &nbsp;&nbsp;
     <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'2'}">
      Elimina
    </a>
      </div>

      <app-caracteristicas-empleado-c (caracteristicasEmpleado)="agregarCaracteristica($event)" ></app-caracteristicas-empleado-c>

      <ul style="list-style: none;" >
        <li *ngFor="let caracteristica of arrayCaracteristicas" >{{caracteristica}}</li>
      </ul>

    </div>
  </div>
</div>


